@use '@scss/base/' as BASE;

.home {
  @include BASE.display-Container(70%, 100%, flex, column, flex-start);
  padding: 1rem;

  .title {
    gap: 2%;
    @include BASE.display-Container(100%, auto, flex, row);

    figure {
      max-width: 350px;
      min-width: 200px;
      @include BASE.display-Container(auto, 100%, flex, row);

      img {
        box-shadow: 0 0 50px var(--cards-bg-color);
        border-radius: 50%;
        width: 100% !important;
        max-width: 400px;
      }
    }
  }

  .description {
    min-width: 500px;
    padding: 1rem;
    gap: 1rem;
    @include BASE.display-Container(100%, 100%, flex, column, center, flex-start);

    h1 {
      margin: 0;
      font-size: 4rem;
      letter-spacing: 5px;
      line-height: 0.9;
      filter: brightness(2);

      b {
        font-size: 8vw;
        font-weight: 300;
        filter: brightness(0.5);
      }
    }
    small {
      font-size: 3vw;
      font-weight: 500;
      letter-spacing: 0;
    }

    .about {
      @include BASE.display-Container(auto, 100%, flex, column, center, flex-start);

      p {
        font-size: 2vw;
      }
    }
  }
}

.skills {
  margin: 2rem 1rem;
  @include BASE.display-Container(20%, 100%, flex, row);

  p {
    text-align: center;
    min-width: 30%;
    width: 50%;
    font-size: 2.5vw;
    font-weight: 500;
  }
}
