@use '@scss/base/' as BASE;

.carousel {
  position: relative;
  z-index: 5;

  @include BASE.display-Container(100%, 100%, flex, column, center, center);

  .mainContent {
    @include BASE.display-Container(100%, 100%, flex, column);
    transition: all 0.3s ease;

    .mainProjectContainer {
      max-width: 1200px;
      position: relative;
      gap: 1rem;

      @include BASE.display-Container(auto, auto, flex, row, center, center);

      .mainProjectDescriptions {
        position: relative;
        flex-wrap: wrap;
        gap: 1rem;

        @include BASE.display-Container(auto, auto, flex, row, center, center);

        .header {
          width: 100%;
          max-width: 500px;
          text-align: center;
          margin-bottom: 20px;

          h1 {
            font-size: 2rem;
            color: var(--title-color);
            margin-bottom: 10px;
            font-family: BASE.$font-title;
          }

          p {
            font-size: 1.5rem;
            color: var(--text-color);
          }

          .toolList {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            gap: 1rem;
          }

          .toolItem {
            display: flex;
            align-items: center;
          }

          .toolIcon {
            margin-top: 1rem;
            width: 40px;
            height: 40px;
          }
        }

        .mainImageContainer {
          height: auto;
          max-width: 600px;
          min-width: 400px;
        }
      }

      .arrowLeft,
      .arrowRight {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        color: var(--icon-color);
        padding: 0;
        cursor: pointer;
        z-index: 10;
        border: none;
        font-size: 2rem;

        &:hover {
          color: var(--hover-icon-color);
        }
      }

      .mainImage {
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        border: 2px solid #fff;
      }
    }

    .thumbnailContainer {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;

      .thumbnailFigure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }

      figcaption {
        font-size: 0.8rem;
        font-family: BASE.$font-title;
      }

      .thumbnail {
        min-width: 50px;
        max-width: 150px;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s ease, transform 0.3s ease;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border: 2px solid transparent;

        &.active {
          opacity: 1;
          transform: scale(1.05);
          border-color: #fff;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
