// PARA ALTERAR AS CORES DO PROJETO BASTA MUDAR AS CORES PRINCIPAIS, TODAS AS FONTES DE CORES USA ELAS COMO PADRÃO.

// Tema Escuro PADRÃO
$dark-primary-bg-color: #051328;
$dark-secondary-bg-color: #041c3f;
$dark-card-bg-color: #0761e9;
$dark-border-color: #e5f4fd;
$dark-title-color: #e5f4fd;
$dark-text-color: #f0f0f0;
$dark-link-color: #e5f4fd;
$dark-icon-color: #e5f4fd;

// Tema Claro PADRÃO
$light-primary-bg-color: #e5f4fd;
$light-secondary-bg-color: #c5e9fe;
$light-card-bg-color: #e0f3ff;
$light-border-color: #011d46;
$light-title-color: #011826;
$light-text-color: #011826;
$light-link-color: #012840;
$light-icon-color: #012840;

// Mixin para aplicar tema escuro
@mixin dark-theme {
  --primary-bg-color: linear-gradient(
    0deg,
    #{$dark-primary-bg-color} 20%,
    #{$dark-secondary-bg-color} 50%
  );
  --secondary-bg-color: linear-gradient(
    120deg,
    #{$dark-secondary-bg-color} 20%,
    #{$dark-primary-bg-color} 50%
  );
  --cards-bg-color: #{$dark-card-bg-color};
  --border-color: #{$dark-border-color};
  --title-color: #{$dark-title-color};
  --text-color: #{$dark-text-color};
  --link-color: #{$dark-link-color};
  --icon-color: #{$dark-icon-color};
  --shadow-color: #{$dark-primary-bg-color};
}

// Mixin para aplicar tema claro
@mixin light-theme {
  --primary-bg-color: linear-gradient(
    0deg,
    #{$light-primary-bg-color} 20%,
    #{$light-secondary-bg-color} 50%
  );
  --secondary-bg-color: linear-gradient(
    #{$light-secondary-bg-color},
    #{$light-primary-bg-color}
  );
  --cards-bg-color: #{$light-card-bg-color};
  --border-color: #{$light-border-color};
  --title-color: #{$light-title-color};
  --text-color: #{$light-text-color};
  --link-color: #{$light-link-color};
  --icon-color: #{$light-icon-color};
  --shadow-color: #{$dark-primary-bg-color};
}
