// Cores padrões, todas as cores tem elas como base.

$light-theme-colors: (
  primary: #011826,
  secondary: #012840,
  text: #03658C
);

$dark-theme-colors: (
  primary: #C5E9FE,
  secondary: #E5F4FD,
  text: #F0F0F0
);
