@use './colors' as *;

@mixin display-Container(
  $height: auto,
  $width: auto,
  $display: flex,
  $direction: column,
  $justify: center,
  $align: center,
  $margin: null, // opcional
  $padding: null, // opcional
  $grid: null // opcional
) {
  $properties: (
    height: $height,
    width: $width,
    display: $display,
    grid-template-columns: $grid,
    flex-direction: $direction,
    justify-content: $justify,
    align-items: $align,
    margin: $margin,
    padding: $padding
  );

  @each $property, $value in $properties {
    @if $value != null {
      #{$property}: #{$value};
    }
  }
}

@mixin fonts-size(
  $size: null, // opcional
  $weight: null, // opcional
  $spacing: null, // opcional
  $family: null, // opcional
  $line-height: null, // opcional
  $transform: null // opcional
) {
  $font-properties: (
    font-size: $size,
    font-weight: $weight,
    letter-spacing: $spacing,
    font-family: $family,
    line-height: $line-height,
    text-transform: $transform
  );

  @each $property, $value in $font-properties {
    @if $value != null {
      #{$property}: #{$value};
    }
  }
}
