@use './colors' as *;

@mixin display-Container(
  $height: auto,
  $width: auto,
  $display: flex,
  $direction: column,
  $justify: center,
  $align: center,
  $grid: null // opcional
) {
  $properties: (
    height: $height,
    width: $width,
    display: $display,
    grid-template-columns: $grid,
    flex-direction: $direction,
    justify-content: $justify,
    align-items: $align
  );

  @each $property, $value in $properties {
    @if $value != null {
      #{$property}: #{$value};
    }
  }
}


