@use '@scss/base/' as BASE;

.about {
  z-index: 5;
  @include BASE.display-Container(calc(100vh - 11rem), 100%, flex, row);

  .figure {
    height: auto;
    width: 100%;
    max-width: 600px;

    img {
      border-radius: 100%;
    }
  }
  .description {
    width: 100%;
    padding: 1rem;
    text-align: center;

    h2 {
      font-size: 3vw;
      margin-bottom: 2rem;
    }

    p {
      font-size: 2vw;
      font-weight: 200;
    }
  }
  .idiomas {
    margin-top: 1rem;

    @include BASE.display-Container(100%, 100%, flex, row);

    .idioma {
      min-width: 100px;
      max-width: 200px;

      @include BASE.display-Container(100%, 100%, flex, row);

      span {
        padding-left: 0.5rem;
      }
    }
  }
}
