@use '@scss/base/' as BASE;

.containerCards {
  @include BASE.display-Container(auto, 100%, flex, column, center, center);
  padding: 1rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--title-color);
  }

  small {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text-color);
  }

  .containerProjects {
    gap: 1rem;
    flex-wrap: wrap;

    @include BASE.display-Container(auto, 100%, flex, row, center, center);

    .project {
      padding: 1rem;
      background-color: var(--cards-bg-color);
      border-radius: 8px;
      box-shadow: 0 2px 8px var(--shadow-color);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.1);
        transform: translateY(-5px);
        box-shadow: 0 4px 12px var(--shadow-color);
      }

      &.projectExpanded {
        height: auto;
        width: 90%;
        border-radius: 12px;
        box-shadow: 0 4px 16px var(--shadow-color);
        padding: 1.5rem;
        position: absolute;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        z-index: 10;
      }

      .projectHeaderExpanded {
        text-align: center;
        font-size: 1rem;
        padding: 1rem 0;
      }

      .projectHeader {
        height: 30px;
        cursor: pointer;
        text-align: center;
        padding: 0.5rem;

        h2 {
          font-size: 1rem;
          color: var(--title-color);
          transition: color 0.3s ease-in-out;

          &:hover {
            color: var(--hover-title-color);
          }
        }

        figure {
          width: 90%;
          margin-bottom: 0.5rem;

          img {
            width: 100%;
            height: auto;
            border-radius: 4px;
            object-fit: contain;
          }
        }
      }

      .projectDetails {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        opacity: 0;
        transform: scale(0.95);
        transition: opacity 0.3s ease, transform 0.3s ease;
        gap: 1rem;

        &.showDetails {
          opacity: 1;
          transform: scale(1);
        }

        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
          color: var(--text-color);
        }

        ul {
          display: flex;
          gap: 1rem;

          @include BASE.display-Container(auto, auto, flex, row, center, center);

          li {
            width: 40px;
            height: 40px;
            background-color: var(--border-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #ccc;
            }

            img {
              width: 60%;
              height: 60%;
              object-fit: contain;
            }
          }
        }
      }

      .closeButton {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #888;
        transition: color 0.3s ease;

        &:hover {
          color: #555;
        }
      }

      .verProjetos {
        height: 2rem;
        width: 20rem;
        background: none;
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
          background-color: var(--hover-bg-color);
        }

        a {
          background-color: transparent;
          text-align: center;
          font-size: 1rem;
          color: var(--link-color);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          transition: color 0.3s ease-in-out;

          &::after {
            content: '→';
            font-size: 1rem;
            color: var(--link-color);
            margin-left: 0.5rem;
            transition: margin-left 0.3s ease-in-out;

            &:hover {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .verProjetos {
      width: 100%;
      font-size: 0.9rem;

      a {
        font-size: 0.9rem;
      }
    }

    .project {
      padding: 0.5rem;
      margin-bottom: 1rem;
    }

    .projectDetails {
      gap: 0.5rem;

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.9rem;
      }

      ul {
        gap: 0.5rem;

        li {
          width: 30px;
          height: 30px;

          img {
            width: 50%;
            height: 50%;
          }
        }
      }
    }
  }
}
