@use '@scss/base/' as BASE;

.nav__mobile {
  border-top: 1px solid var(--border-color);
  background-color: var(--primary-bg-color);
  position: fixed;
  bottom: 0;

  @include BASE.display-Container(4rem, 100%, flex, row, center, center);
}

.menu__mobile {
  @include BASE.display-Container(100%, 100%, flex, row, space-between, center);
}

.menu__item {
  @include BASE.display-Container(100%, 100%, flex, column, center, center);
}
.menu__link {
  @include BASE.display-Container(
    100%,
    100%,
    flex,
    column,
    center,
    center,
    $padding: 0 1rem
  );
}
.menu__text {
  color: var(--icon-color);

  @include BASE.fonts-size($size: 1rem, $transform: uppercase);
}
.menu__icon {
  color: var(--icon-color);

  @include BASE.fonts-size($size: 1rem, $transform: uppercase);

  &:hover {
    color: var(--primary-bg-color);
  }
}
