@use '@scss/base/' as BASE;
@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  min-width: BASE.$mobile-min-display;
  background: var(--primary-bg-color);
  background-repeat: no-repeat;
  font-size: 1rem;
  font-family: BASE.$font-body;
  color: var(--text-color);
  overflow-x: hidden;

  @include BASE.display-Container(100vh, 100vw, flex, column, flex-start, center);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: BASE.$font-title;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: var(--link-color);
}
