.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--secondary-bg-color);
  pointer-events: none;
  z-index: 1;
  box-shadow: 0 0 100px var(--icon-color);
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
}
