@use '@scss/base/' as BASE;

.contact {
  @include BASE.display-Container(100vh, 80%);

  h1 {
    font-size: 8vw;
  }

  p {
    min-width: 300px;
    width: 80%;
    font-size: 2vw;
    margin-bottom: 2rem;
  }

  .icons {
    @include BASE.display-Container(auto, auto);
  }
}
