.projects__all{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
}
.projects__all h2{
    text-align: center;
}