.section__contat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
}
.section__contat h2{
    font-size: 2rem;
}
.section__contat p{
    margin: 0 2.5rem;
}
.section__contat ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.section__contat ul li a i{
    font-size: 2rem;
}