.section__experience{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

}
.section__experience li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    flex-wrap: wrap;
    margin: 1rem;
}
.section__experience p{
    font-size: .9rem;
}
