@import url(./header.css);
@import url(./moblie-menu.css);
@import url(./hover.css);
@import url(./media.css);
@import url(./s-primary.css);
@import url(./desktop-menu.css);
@import url(./s-second.css);
@import url(./footer.css);
@import url(./s-thrid.css);
@import url(./all-projects.css);
@import url(./sobre-mim.css);

:root, :root[data-theme='dark'] {
    --primary-color: #010E16;
    --primary-bg-color: #011826;
    --secondary-bg-color: #051328;
    --card-bg: #011D46;
    --border-color: #E5F4FD;
    --title-color: #E5F4FD;
    --text-color: #F0F0F0;
    --link-color: #E5F4FD;
    --icons-color: #E5F4FD;
}
:root, :root[data-theme='light'] {
    --primary-color: #F2FAFF;
    --primary-bg-color: #E5F4FD;
    --secondary-bg-color: #C5E9FE;
    --card-bg: #C5E9FE;
    --border-color: #011D46;
    --title-color: #011826;
    --text-color: #011826;
    --link-color: #011826;
    --icons-color: #012840;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}
body {
    background-color: var(--primary-bg-color);
    font-family: "Inter", sans-serif;
    font-weight: 200;
}
main{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6{
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    color: var(--title-color);
}
h1, h2 {
    font-family: "Liga Espartana", sans-serif;
}
h3, h4{
    font-family: "Langar", system-ui;
}
h5, h6{
    font-family: "Reddit Mono", monospace;
}
i, a{
    color: var(--link-color);
    text-decoration: none;
}
a{
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    padding: .875rem 1rem;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}
.btn span, i {
    text-transform: uppercase;
    font-size: 1.25rem;
}
/*PROJECTS CENTER -------------------------------*/

.projects__center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}