@import url(./header.css);
@import url(./moblie-menu.css);
@import url(./hover.css);
@import url(./media.css);
@import url(./menu-header.css);
@import url(./desktop-menu.css);
@import url(./skills.css);
@import url(./footer.css);
@import url(./projects.css);
@import url(./all-projects.css);
@import url(./about-me.css);
@import url(./experience.css);
@import url(./course.css);
@import url(./contat.css);
@import url(./hobby.css);

:root, :root[data-theme='dark'] {
    --primary-color: #010E16;
    --primary-bg-color: #011826;
    --secondary-bg-color: #051328;
    --card-bg: #011D46;
    --border-color: #E5F4FD;
    --title-color: #E5F4FD;
    --text-color: #F0F0F0;
    --link-color: #E5F4FD;
    --icons-color: #E5F4FD;
}
:root, :root[data-theme='light'] {
    --primary-color: #F2FAFF;
    --primary-bg-color: #E5F4FD;
    --secondary-bg-color: #C5E9FE;
    --card-bg: #aad7f2;
    --border-color: #011D46;
    --title-color: #011826;
    --text-color: #011826;
    --link-color: #011826;
    --icons-color: #012840;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    background-color:var(--primary-color);
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    }
main{
    margin: 5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6{
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    color: var(--title-color);
}
h1, h2 {
    font-family: "Liga Espartana", sans-serif;
}
h3, h4{
    font-family: "Langar", system-ui;
}
h5, h6{
    font-family: "Reddit Mono", monospace;
}
i, a{
    color: var(--link-color);
    text-decoration: none;
}
a{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
button, iframe, i, a{
    transition: all .1s ease-in-out;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}
.btn span, i {
    padding: .875rem 1rem;
    text-transform: uppercase;
    font-size: 1.25rem;
}
/*FIGURE ABOUT ME -------------------------------*/

.its__me{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

}
.its__me .its__me__figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.its__me .its__me__figure__photo{
    width: 20rem;
    height: 22rem;
    border-radius: 50%;
}

/*PAGES -------------------------------*/
.pages{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}