.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--primary-color);
    z-index: 1;
}
.header figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.profile_img{
    width: 40px;
    border-radius: 50%;
}
.header__toggle{
    display: flex;
    justify-content: flex-end;
}
#toggleTheme{
    font-size: 1.5rem;
    color: var(--icons-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}
.header--nav{
    display: none;
}