@import url(./header.css);
@import url(./hover.css);
@import url(./languages.css);
@import url(./media-query.css);
@import url(./portfolio.css);
@import url(./section.css);

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .photo{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.header .title {
    font-family: 'Neue Machine', sans-serif;
}
.header .title small{
    font-size: .5rem;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
}
.information li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}
.information ul{
    padding: 0;
}
.information .job::before{
    background-image: url(../icons/job.svg);
}
.information .location::before{
    background-image: url(../icons/location.svg);
}
.information .email::before{
    background-image: url(../icons/email.svg);
}
.information .phone::before{
    background-image: url(../icons/phone.svg);
}