.active,
footer a:hover,
.desktop__link:hover .menu__icon,
.desktop__link:hover .menu__text,
.desktop__link.active .menu__icon,
.desktop__link.active .menu__text{
    color: var(--icons-color);
    font-weight: 600;
}
.btn:hover{
    transform: scale(1.02);
    background-color: var(--card-bg);
}
i:hover, a:hover, iframe:hover{
    transform: scale(1.05);
}