@import url(./header.css);
@import url(./hover.css);
@import url(./languages.css);
@import url(./media-query.css);
@import url(./portfolio.css);
@import url(./section.css);

.section__button:hover{
    cursor: pointer;
}
.section:hover{
    background-color: #55569E;
    border-color: #8ca9fb ;
}
a:hover{
    color: #8ca9fb;
    transform: scale(1.02);
}

.section__content__portfolio li:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #35364b;
}