@media (width >= 768px) {
    /* GERAL ------------------------*/
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main{
        width: 780px;
        margin: auto;
        padding: auto;
        margin-top: 5rem;
    }
    /* HEADER ------------------------*/
    .header{
        position: fixed;
        top: 0;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--primary-color);
    }
    .section__primary{
        height: 90vh !important;
    }
    .section__primary figure img{
        height: 30rem!important;
        width: 32rem!important;
        border-radius: 50%;
    }
    .nav--mobile{
        display: none;
    }
    .header--nav{
        display: flex;
    }
    .header figure{
        width: 50%;
    }
    /* SECTION PROJECTS ------------------------*/
    .p__list{
        display: grid!important;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-content: space-between!important;
    }

    /* ABOUT ME ------------------------*/
    .its__me{
        flex-direction: row !important;
        background-color: var(--secondary-bg-color);
        border-radius: 1rem;
        padding: 1rem;
        flex-wrap: wrap;
    }
    .section__experience{
        height: 15rem;
        border: 1px solid var(--card-bg);
        width: 20rem!important;
        flex: auto !important;
    }
    .its__me__figure{
        width: 20rem!important;
        flex: auto !important;    
    }
    .section__about-me{
        width: 20rem!important;
        flex: auto !important;
    }
    .course__section{
        flex: auto !important;
    }
    .section__contact{
        flex: auto !important;
    }
    /* GRID TEMPLETE ------------------------*/
    footer{
        margin-bottom: 1rem!important;
    }
}

/* DESKTOPS ------------------------------------------------ */

@media (width >= 1000px){
    b{
        font-size: 7.2rem!important;
        font-weight: 600;
    }
    main{
        width: 1000px;
        margin: auto;
        padding: auto;
        margin-top: 10rem;
    }
     /* HEADER ------------------------*/
     .section__primary figure img{
        height: 40rem!important;
        width: 42rem!important;
        border-radius: 50%;
    }
    .header figure{
        width: 50%;
    }
    .its__me__figure{
        width: 0rem!important;
        flex: auto !important;    
    }
    .section__about-me{
        width: 40rem!important;
        flex: auto !important;
    }
    /* Primary ------------------------*/
    .section__primary{
        height: auto !important;
    }
    .section__primary h1{
        width: 80%;
        font-size:5.1rem!important;
        font-weight: 200;
    }
    
    /* ABOUT ME ------------------------*/
    .its__me{
        flex-direction: row !important;
        background-color: var(--secondary-bg-color);
        border-radius: 1rem;
        padding: 1rem;
        flex-wrap: wrap;
    }
    .section__experience{
        height: 15rem;
        border: 1px solid var(--card-bg);
        width: 20rem!important;
        flex: auto !important;
    }
    .its__me__figure{
        width: 30rem!important;
        flex: auto !important;    
    }
    .section__about-me{
        width: 40rem!important;
        flex: auto !important;
    }
    .course__section{
        flex: auto !important;
    }
    .section__contact{
        flex: auto !important;
    }

}