.section__primary{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
}
.section__primary figure{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../data/imgs/FundoET.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: visible;
}
.section__primary figure img{
    height: 20rem;
    width: 22rem;
    border-radius: 50%;
}
.section__primary h1{
    font-size: 3rem;
    font-weight: 200;
}
b{
    font-size: 5rem;
    font-weight: 600;
}
small{
    font-size: 1.5rem;
}
.section__primary ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.section__primary ul li a i{
    font-size: 3rem;
}