@import url(./header.css);
@import url(./hover.css);
@import url(./languages.css);
@import url(./media-query.css);
@import url(./portfolio.css);
@import url(./section.css);

.section__content__portfolio{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.section__content__portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.section__content__portfolio .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.before::before{
    content: '';
    background-image: url(../icons/github.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: .5rem;
}
