.section__projetos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.l__primary__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.l__primary__img img{
    width: 28rem;
    border-radius: 1rem;
}
.p__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.p__list__primary{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around!important;
    align-items: center;
    background-color: var(--card-bg);
    border-radius: 1rem;
    height: 40rem;
    padding: 1rem;
}
.l__primary__details{
    width: 80%;
}
.l__primary__details li{
    font-weight: 200;
    list-style: disc;
    font-size: 1rem;
    margin: .5rem;
}
.l__primary__icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    gap: 1rem;
}
.l__primary__icons img{
    height: 3rem;
    width: 3rem;
}