.section__skills {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    padding:  5.25rem 1rem 2rem 1rem;
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
}
.section__skills ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-bg-color);
    border-radius: 1rem;
}
.section__skills ul li{
    width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    gap: 1.5rem;
}
.section__skills ul li img {
    height: 6rem;
    width: 6rem;
    margin: .5rem;
}
.js{
    border-radius: 1.8rem;
}