.section__content__skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.skills__content{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}
.skills__content h3{
    font-weight: 800;
    font-size: 1.2rem;
    color: #fff;
}
.skills__content figure img{
    height: 5rem;
    width: 5rem;
}

/*<!----------------------------------------------------->*/
