@use '@scss/base/' as BASE;

.container__icons {
  font-family: BASE.$font-body;

  height: 1rem;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  li {
    height: 100%;
    width: auto;
  }

  .links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5rem;
    color: var(--text-color);
    transition: 0.1s ease-in-out;

    span{
      height: 100%;
    }

    &:hover {
      color: var(--border-color);
      transform: scale(1.2);
    }
  }
}
