@use '@scss/base/' as BASE;

.container__icons {
  min-height: 1rem;

  @include BASE.display-Container(5vh, auto, flex, row, flex-start, center);

  li {
    min-height: 2rem;
    padding: 0 0.5rem;

    @include BASE.display-Container(100%, auto, flex, row, center, center);

    .links {
      gap: 0.5rem;
      flex-wrap: wrap;
      cursor: pointer;
      color: var(--icons-color);
      transition: all 0.1s ease-in-out;
      text-align: center;

      @include BASE.display-Container(100%, auto, flex, row, center, center);

      .Icon {
        height: 100%;
        width: 100%;
      }

      span {
        height: auto;
      }

      &:hover {
        transform: scale(1.1);
        opacity: 0.5;
      }
    }
  }
}
