@use '@scss/base/index' as BASE;

.desktop__header {
  background: var(--secondary-bg-color);
  filter: brightness(0.9);
  box-shadow: 0 0 100px var(--shadow-color), inset 0 0 5px var(--shadow-color);

  @include BASE.display-Container(4rem, 100%, flex, row, space-between, center);

  .desktop__nav {
    @include BASE.display-Container(100%, 100%, flex, row, flex-start, center);

    ul {
      @include BASE.display-Container(
        auto,
        auto,
        flex,
        row,
        space-around,
        center
      );

      li {
        height: 100%;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
          opacity: 0.5;
        }
      }

      a {
        padding: 0.5rem 0.5rem;
        cursor: grab;
        color: var(--link-color);

        &:active {
          cursor: grabbing;
        }
      }
    }
  }

  .desktop__figure {
    position: relative;

    @include BASE.display-Container(
      100%,
      100%,
      flex,
      row,
      space-between,
      center
    );

    img {
      width: 25px;
      border-radius: 5rem;
    }

    a {
      padding: 0.5rem;
      color: var(--icon-color);

      &:hover {
        transform: scale(1.1);
        opacity: 0.5;
      }

      &:active {
        color: aliceblue;
      }
    }
  }
}

// ------------------------------------

.mobile__header {
  background: none;

  @include BASE.display-Container(4rem, 100%, flex, row, flex-end, center);

  .mobile__figure {
    padding: 1rem;
    background: var(--cards-bg-color);
    z-index: 1;

    @include BASE.display-Container(100%, 50%, flex, row, center, center);

    .mobile__nav {
      @include BASE.display-Container(100%, 100%, flex, column, center, center);

      ul {
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        @include BASE.display-Container(85%, 90%, flex, column, center, center);

        li {
          padding: 0 1rem;
          font-size: 5vw;
          box-shadow: 5px 5px 10px var(--cards-bg-color);
          filter: brightness(0.95);
          border-radius: 1rem;
          @include BASE.display-Container(auto, 80%, flex, row, center);

          a {
            width: auto;
            font-size: 6vw;
          }
        }
      }
    }
  }

  button {
    position: absolute;
    left: 5%;
    top: 1%;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 10;
    background: var(--cards-bg-color);

    img {
      width: 90%;
      border-radius: 5rem;
    }
  }

  a {
    @include BASE.display-Container(100%, 50%, flex, row, flex-end);
    width: 50%;
    padding: 1rem;
    color: var(--icon-color);
  }
}
