@use '@scss/base/index' as BASE;

.desktop__header {
  background: var(--secondary-bg-color);
  filter: brightness(0.9);
  box-shadow: 0 0 100px var(--shadow-color), inset 0 0 5px var(--shadow-color);

  @include BASE.display-Container(4rem, 100%, flex, row, space-between, center);

  .desktop__nav {
    @include BASE.display-Container(100%, 100%, flex, row, flex-start, center);

    ul {
      @include BASE.display-Container(auto, auto, flex, row, space-around, center);

      li {
        height: 100%;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
          opacity: 0.5;
        }
      }

      a {
        padding: 0 0.5rem;
        font-size: 0.9rem;
        cursor: grab;
        color: var(--link-color);

        &:active {
          cursor: grabbing;
        }
      }
    }
  }

  .desktop__figure {
    position: relative;

    @include BASE.display-Container(100%, 100%, flex, row, space-between, center);

    img {
      width: 25px !important;
      height: 25px !important;
      border-radius: 50%;
    }

    a {
      padding: 0.5rem;
      color: var(--icon-color);

      &:hover {
        transform: scale(1.1);
        opacity: 0.5;
      }

      &:active {
        color: aliceblue;
      }
    }
  }
}

// ------------------------------------

.mobile__header {
  background: var(--secondary-bg-color);

  @include BASE.display-Container(3rem, 100%, flex, row, flex-end, center);

  .mobile__figure {
    padding: 1rem;
    background: var(--cards-bg-color);
    z-index: 1;

    @include BASE.display-Container(100%, 50%, flex, row, center, center);

    .mobile__nav {
      @include BASE.display-Container(100%, 100%, flex, column, center, center);

      ul {
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        @include BASE.display-Container(85%, 90%, flex, column, center, center);

        li {
          padding: 0 1rem;
          font-size: 2rem;
          margin-left: 50%;

          @include BASE.display-Container(auto, 100%, flex, row, flex-start, center);

          a {
            width: auto;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  button {
    position: absolute;
    left: 5%;
    top: 1%;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    background: var(--cards-bg-color);
    color: var(--icon-color);

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  a {
    @include BASE.display-Container(100%, 50%, flex, row, flex-end);
    width: 50%;
    padding: 1rem;
    color: var(--icon-color);
  }
}
