@use '@scss/base/' as BASE;
@use '@src/scss/global.module.scss';

// --------- Mobile --------------------------------
.page__mobile {
  @include BASE.display-Container(calc(100% - 8rem), 100%, flex, column, space-around, center);
}

.title {
  @include BASE.display-Container(70%, 90%, flex, column, center, center);

  .description {
    @include BASE.display-Container(auto, 100%, flex, column, center, center);

    h1 {
      font-size: 18vw;
      font-weight: 400;
      line-height: 0.8;
      margin: 0;
      color: var(--title-color);
      text-align: center;

      b {
        color: var(--title-color);
        filter: brightness(2);
      }
    }

    small {
      font-size: 1.5rem;
    }

    p {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

.skills {
  width: 90%;

  p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }
}
