@use '@scss/base/' as BASE;
@use '@src/scss/global.module.scss';

.home {
  gap: 2rem;

  @include BASE.display-Container(calc(100vh - 10rem), 100%, flex, column, flex-start);

  .logo__container {
    @include BASE.display-Container(200px, 200px);

    img {
      box-shadow: 0 0 50px var(--cards-bg-color);
      border-radius: 50%;
      text-align: center;
    }
  }

  .title {
    width: 100%;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 18vw;
      line-height: 0.8;

      b {
        font-size: 15vw;
        font-weight: 500;
        filter: brightness(1.5);
      }
    }

    small {
      font-size: 5vw;
      font-weight: 500;
    }
  }

  .description {
    gap: 1rem;

    @include BASE.display-Container(auto, 100%);
  }

  .skills {
    gap: 0.5rem;

    @include BASE.display-Container(auto, 100%);

    p {
      text-align: center;
      font-size: 6vw;
      font-weight: 500;
    }
  }
}

// DIV para caso IMAGEN não carregue corretamente.
.logo {
  background: var(--cards-bg-color);
  box-shadow: 0 0 50px var(--cards-bg-color);
  text-align: center;
  height: 100%;
  width: 200px;
  font-size: 50vw;
  font-weight: 900;
  color: var(--title-color);
}
