.footer {
  height: 3rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  background: transparent;

  a{
    color: white;
    text-decoration: var(--text-color);
    font-weight: 600;
  }
}
