@use '@scss/base/' as *;

.footer {
  width: 100%;
  background-color: var(--secondary-bg-color);
  position: fixed;
  bottom: 0;
  padding: 1rem 1rem;
  text-align: center;
  border: 1px solid #000;

  @media (max-width: $mobile-max-display) {
    font-size: 2vw;
  }

  a {
    color: var(--title-color);
    font-weight: 600;
  }
}
